.app{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 500px;
}
#frame{
    height: 600px;
    width: 700px;
}
.btn{
    height: 40px;
    width: 100px;
    float: right;
    background: skyblue;
    border: none;
    margin-top: 20px;
    border-radius: 24px;
}