@import '~antd/dist/antd.css';

.App {
  display: grid;
  
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#upload{
   /* visibility: hidden; */
   display: none;
}